//- this file need the variable textFields

each field in textFields
	div
		label(for=`${field.name}`) #{field.label}
		div
			if field.special && field.special.autofocus
				input(autofocus name=`${field.name}` value=`${model[field.name] || ""}`)
			else
				input(name=`${field.name}` value=`${model[field.name] || ""}`)