//- this file need the variable textFields

each field in textFields
	.row
		div.input-field.col.s12
			if field.special && field.special.autofocus
				input(type="text" id=`${field.name}` autofocus name=`${field.name}` value=`${model[field.name] || ""}`)
			else
				input(type="text" name=`${field.name}` value=`${model[field.name] || ""}`)
			label(for=`${field.name}`) #{field.label}